@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../App.scss' as *;

.container-list {
    display: flex;
    flex-direction: column;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            @if $size == desktop {
                border-left: solid 1px $mercury;
                grid-column-start: 9;
                grid-row-start: 1;
                grid-column-end: span 4;
            } @else if $size == tablet{
                grid-column-end: span 6;  
            } @else if $size == mobile {
                grid-column-end: span 6;
            }
        }
    }

    &__header {
        @include text-styles('section-header');
        text-transform: uppercase;
        color: $silver;
        padding-left: rem(16);
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    @include text-styles('body-copy', true);
                    padding: rem(0) rem(0) rem(0) rem(0);
                } @else if $size == tablet{
                    @include text-styles('body-copy');
                    padding: rem(0) rem(0) rem(12) rem(0);
                } @else if $size == desktop {
                    @include text-styles('body-copy');
                    padding: rem(32) rem(0) rem(12) rem(24);
                    width: 100%;
                }
            }
        }
    }
}