@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../App.scss' as *;



.nav-bar {
    display: flex;
    max-width: 100%;
    justify-content: center;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            $margin: map.get($default-margin, $size);
            $gutter: map.get($default-gutter, $size);
            @include layout-grid($size, $margin, $max-width);
            @if $size == desktop {
                padding-top: rem(16);
            }
            @if $size == tablet {
                justify-content: flex-start;
                padding-top: rem(16);
            }
            @if $size == mobile {
                padding-top: rem(10);
            }
        }
    }

    &__container{
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                width: map.get($default-content-width, $size);
                $margin: map.get($default-margin, $size);
                $gutter: map.get($default-gutter, $size);
                @if $size == mobile {
                    width: 100%;
                    @include inner($size, $margin, $gutter);
                    // height: rem(30, 20, 30);
                } @else if $size == tablet {
                    width: 100%;
                    @include inner($size, $margin, $gutter);
                    // height: rem(24, 20, 24);
                } @else if $size == desktop {
                    @include inner($size, $margin, $gutter);
                    // height: rem(24, 36, 24);
                }
            }
        }

        &-logo {
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == desktop {
                        grid-column-end: span 6;
                        display: grid;
                        height: rem(40);
                        align-items: center;
                    } @else if $size == tablet{
                        grid-column-end: span 3;
                        display: grid;
                        height: rem(40);
                        align-items: center;
                    } @else {
                        grid-column-end: span 6;
                        display: grid;
                        height: rem(36);
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        &-search {
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == desktop {
                        display: grid;
                        grid-column-end: span 3;
                        height: rem(40);
                        justify-items: center;
                        align-items: center;
                    } @else if $size == tablet{
                        display: grid;
                        grid-column-end: span 5;
                        height: rem(40);
                        align-items: center;
                    } @else {
                        display: grid;
                        grid-column-end: span 5;
                        height: rem(36);
                        justify-content: center;
                        align-items: stretch;
                        justify-content: stretch;
                    }
                }
            }

            &--input {
                width: 100%;
                background-image: url('../../assets/Icons/search.svg');
                background-repeat: no-repeat;
                background-color: $alabaster;
                border: solid 1px $mercury;
                border-radius: 4px;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            height: rem(36);
                            padding: rem(12) rem(12, 18, 6) rem(12);
                            background-position: rem(12) center;
                            @include text-styles-config(10, 20, 'AvenirNextRegular', 12, 12);
                        } @else {
                            height: rem(40);
                            padding: rem(16) rem(16, 18, 8) rem(16);;
                            background-position: rem(16) center;
                            @include text-styles-config(12, 20, 'AvenirNextRegular', 16, 16);
                        }
                    }
                }
                &::placeholder{
                    color: $brainflix-black;
                }
            }

            &--avatar {
                border-radius: 50%;
                object-fit: cover;
                object-position: rem(-3);
                background-color: $mercury;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            justify-self: end;
                            grid-column-start: 6;
                            width: 100%;
                            height: 100%;
                            max-height: rem(36);
                            max-width: rem(36);
                            min-width: rem(36);
                        } @else {
                            justify-self: center;
                            grid-column-start: 12;
                            width: 100%;
                            height: 100%;
                            max-height: rem(40);
                            max-width: rem(40);
                            min-width: rem(40);
                        }
                    }
                }
            }
        }

        &-upload {
            background-image: url('../../assets/Icons/upload.svg');
            background-size: rem(20);
            background-position: rem(12) center;
            background-repeat: no-repeat;
            background-color: $brainflix-blue;
            color: $white;
            border-radius: 4px;
            height: rem(40);
            border: none;
            text-transform: uppercase;
            text-align: center;
            justify-content: center;
            align-items: center;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == desktop {
                        display: flex;
                        grid-column-end: span 2;
                        grid-row-start: 1;
                        grid-column-start: 10;
                        height: rem(40);
                        @include text-styles('labels-and-buttons')
                    } @else if $size == tablet{
                        display: flex;
                        grid-column-end: span 3;
                        grid-row-start: 1;
                        grid-column-start: 9;
                        height: rem(40);
                        @include text-styles('labels-and-buttons')
                    } @else {
                        display: flex;
                        grid-column-end: span 6;
                        height: rem(40);
                        justify-content: center;
                        @include text-styles('labels-and-buttons', true)
                    }
                }
            }
        }
    }
}