@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../App.scss' as *;

.selected-video {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: $brainflix-darkblack;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            $margin: map.get($default-margin, $size);
            $gutter: map.get($default-gutter, $size);
            @include layout-grid($size, $margin, $max-width);
            @if $size == desktop {

            }
            @if $size == tablet {

            }
            @if $size == mobile {
                padding: rem(0);
            }
        }
    }

    &__loading {
        height: 75vh;
        align-content: center;
        text-align: center;
        &--image {
            width: 3.25rem;
        }
    }
    
    &__preview {
        object-fit: cover;
        
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                width: map.get($default-content-width, $size);
                $margin: map.get($default-margin, $size);
                $gutter: map.get($default-gutter, $size);
                @if $size == mobile {
                    width: 100%;
                    max-height: 50vh;
                    min-height: 50vh;
                    @include inner($size, $margin, $gutter);
                } @else if $size == tablet {
                    width: 100%;
                    max-height: 66vh;
                    min-height: 66vh;
                    @include inner($size, $margin, $gutter);
                } @else if $size == desktop {
                    max-height: 66vh;
                    min-height: 66vh;
                    @include inner($size, $margin, $gutter);
                }
            }
        }
    }
}